.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 8%;
}

.site-dock .pull-right {
  float: right;
  cursor: pointer;
}

.site-dock, .site-dock div {
  background-color: #222;
  color: #fff;
}

.site-dock ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-dock ul li {
  display: inline-block;
  cursor: pointer;
}
