.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 10%;
}

.site-dock .pull-right {
  float: right;
  cursor: pointer;
}

.site-dock, .site-dock div {
  background-color: #222;
  color: #fff;
}

.site-dock ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-dock ul li {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin: 4% 0;
}

.site-dock ul li span {
  -webkit-transform: translateZ(0px);
}

.site-dock ul li:hover span {
  font-size: 120px !important;
}
