@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,Fira+Mono');

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.terminal-top-bar {
  height: 30px;
  max-width: 900px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: black; }

.adjust-bar {
  display: block;
  margin: 0 auto; }

.terminal-base {
  width: 100%;
  max-width: 900px;
  height: 630px;
  max-height: 100vh;
  text-align: initial; }

.terminal-container-wrapper {
  height: 100%;
  -webkit-animation: fadeIn 0.18s ease-in;
  animation: fadeIn 0.18s ease-in;
}

:focus {
  outline: none !important;
}

.terminal-container-wrapper,
.terminal-output-line {
  font-family: 'Inconsolata', monospace;
  font-size: 0.9em;
  color: green; }

.terminal-container {
  display: block;
  margin: 0 auto; }

.terminal-note {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-animation: terminalFadeIn 0.3s ease-in;
          animation: terminalFadeIn 0.3s ease-in; }

@-webkit-keyframes terminalFadeIn {
  0% {
    opacity: 0; }
  60% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes terminalFadeIn {
  0% {
    opacity: 0; }
  60% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

.terminal-input-area {
  height: 100%;
  padding: 3px; }

.terminal-input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 15px;
  padding-bottom: 15px; }

.terminal-main-input {
  font-size: 0.9em; }

.terminal-container-main {
  max-width: 900px;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: black;
  max-height: 900px;
  height: 100%;
  overflow: scroll; }

.terminal-holder {
  overflow: auto; }

.terminal-prompt {
  color: green; }

.terminal-main-input, .terminal-main-input:focus {
  border: none;
  padding: 0;
  margin: 3px;
  background: black;
  color: green;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  outline: none; }

.terminal-output-line {
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  color: inherit; }

.terminal-output-line > pre {
  background-color: transparent !important; }

.terminal-content {
  padding: 5px 20px;
  height: 100%; 
}

.terminal-closed {
  text-align: center;
  font-family: 'Fira Mono', sans-serif;
}

.terminal-closed ul {
  padding: 0;
}

.terminal-closed ul li {
  display: inline-block;
  font-family: 'Fira Mono', sans-serif;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  width: 80px;
  height: 65px;
  margin: 2%;
  border-radius: 50%;
  padding: 2% 0 0;
}

.terminal-closed p .terminal-icon {
  font-size: 30px;
  cursor: pointer;
  color: green;
  vertical-align: middle;
}

/* ANIMATIONS */

.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #333;
}

.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #333 solid 4px;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.thought-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.thought-post img {
  max-width: 320px;
}