.react-draggable {
  -webkit-box-shadow: 6px 6px 12px 0px #fff;
  box-shadow: 2px 2px 6px 0px #fff;
  border: .1px solid #fff;
  position: relative;
  border-radius: 6px;
  cursor: initial;
  transition: all .2 ease-out;
  /*overflow-y: scroll;
  overflow-x: hidden;*/
}

/*.react-draggable:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  background: rgba(34, 34, 34, 0.89);
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}*/

.appWindow .content {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: scroll;
  background: #222;
}

.react-draggable .content {
  position: relative;
  z-index: 900;
}

.appWindow .content .contentPane div > div:last-of-type {
  height: 100%;
}

.react-draggable .content .paper {
  background-color: transparent !important;
  background: transparent !important;
  box-shadow: none !important;
}

.socialList {
  list-style: none;
}

.socialList li {
  display: inline-block;
  padding: 0 2%;
  font-size: 36px;
}

.contentPane .button a {
  color: #fff;
  font-size: 55px;
  transition: all .2s ease-in;
}

.contentPane .button a:hover {
  color: lime;
  text-shadow: 1px 1px #fff;
}

.contentPane .avatar-button img {
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s ease-out;
}

.contentPane .avatar-button img:hover {
  border-radius: none;
  box-shadow: 0 0 12px #fff;
}
